@import 'common/@utils.scss';


.top {
  display: block;
  width: 100%;

  &-shadow-focus {
    @include ShadowFocus(rgba(var(--color-accent-rgb), 0.6));
  }

  &-header {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px 24px;
    background-color: var(--color-content-background);
    box-shadow: 0 3px 6px rgba(#000, 0.1);

    &-title {
      flex-shrink: 0;
      font-size: 24px;

      &-wrapper {
        display: flex;
        align-items: baseline;
      }

      &-icon {
        font-size: 28px;
        color: rgba(var(--color-text-rgb), 0.8);
      }

      &-common {
        margin-left: 0.4em;
        font-weight: 600;
      }

      &-text {
        margin-left: 0.2em;
        font-weight: 900;
        color: var(--color-accent);
      }

    }

    &-nav {
      display: flex;
      margin: {
        top: 10px;
        left: 24px;
      }

      &-button {
        font: {
          size: 14px; 
          weight: 600;
        }
        display: flex;
        align-items: center;
        padding: 0 12px;
        outline: none;

        &:hover {
          color: var(--color-accent);
        }

      }

    }

    &-menu {
      margin-left: auto;

      &-button {
        font-size: 26px;
        padding: 0 6px;
      }

    }

  }

  &-menu {
    width: 178px;
    background-color: var(--color-content-background);
    box-shadow: 0 3px 12px rgba(#000, 0.1);
    border-radius: 12px;
    overflow: hidden;

    &-user {
      width: 100%;
      padding: 12px;
      display: flex;
      align-items: flex-start;

      &-profile {
        width: 42px; height: 42px;
        border-radius: 50%;
        border: solid 2px rgba(var(--color-accent-rgb), 0.8);
        flex-shrink: 0;
        overflow: hidden;

        img {
          width: 100%; height: 100%;
          object-fit: cover;
        }

      }

      &-info {
        margin-left: 12px;
        display: flex;
        flex-direction: column;

        &-name {
          color: rgba(var(--color-text), 0.8);
          font: {
            size: 14px;
            weight: 600;
          }
          text-decoration: underline;

          &:hover, &:focus {
            color: var(--color-accent);
          }

        }

        &-sub {
          color: rgba(var(--color-text), 0.6);
          font: {
            size: 12px;
            weight: 300;
          }
        }

      }

    }

    &-action {
      width: 100%;
      border-top: solid 1px rgba(var(--color-text-rgb), 0.2);

      &-button {
        display: block;
        width: 100%;
        padding: 8px 18px;
        font: {
          size: 14px;
          weight: 500;
        }
        outline: none;
        text-align: left;

        &:focus, &:hover {
          background-color: var(--color-accent);
          color: var(--color-text-inverted);
        }

      }

    }

  }

}

@media (max-width: 1024px) {

  .top {

    &-header {

      &-title {

        &-common {
          display: none;
        }

      }

    }

  }

}

@media (max-width: 600px) {

  .top {

    &-header {

      &-title {
        font-size: 18px;

        &-icon {
          font-size: 20px;
        }

      }

      &-nav {
        order: 1;
        margin: 6px 0 0;
        width: 100%;
        flex-shrink: 0;

        &-button {
          font-size: 12px;
          padding: 4px 12px;
        }

      }

      &-menu {

        &-button {
          font-size: 18px;
        }

      }

    }

  }

}
