<header class="top-header">

  <h1 class="top-header-title">
    <a routerLink="/" class="top-header-title-wrapper top-shadow-focus">
      <fa-icon class="top-header-title-icon" [icon]="icons.title"></fa-icon>
      <span class="top-header-title-common">Slacking studio</span>
      <span class="top-header-title-text">Sanctuary</span>
    </a>
  </h1>

  <nav class="top-header-nav">

    <a class="top-header-nav-button top-shadow-focus" routerLink="/">Common</a>
    <a class="top-header-nav-button top-shadow-focus" routerLink="/blog">Blog</a>

  </nav>

  <div class="top-header-menu">
    <button
      class="top-header-menu-button top-shadow-focus"
      type="button"
      aria-label="open menu"
      aria-haspopup="true"
      [inventorySwitchFor]="inventory"
    >
      <fa-icon [icon]="icons.menu"></fa-icon>
    </button>
  </div>

</header>

<inventory #inventory>

  <div class="top-menu">

    <div class="top-menu-user">

      <div class="top-menu-user-profile">
        <img [src]="user.profileImageUrl || profileImagePlaceholder" [alt]="user.email">
      </div>

      <div class="top-menu-user-info">

        <a class="top-menu-user-info-name" routerLink="/me" inventoryItem>{{ user.username }}</a>
        <a class="top-menu-user-info-sub top-shadow-focus" [href]="'mailto:' + user.email" inventoryItem>{{ user.email }}</a>

      </div>

    </div>

    <div class="top-menu-action">

      <a class="top-menu-action-button" routerLink="/me" inventoryItem>Account</a>

      <button
        class="top-menu-action-button"
        type="button"
        (click)="signOut()"
        inventoryItem
      ><fa-icon [icon]="icons.out"></fa-icon> Sign out</button>

    </div>

  </div>

</inventory>
