<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>We could always use more slackers.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
  </head>
  <body style="background-color:#199fc6;padding:0;border:0;margin:0;font-family:'Ubuntu',sans-serif;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" bgColor="#199fc6"><tr><td align="center">

      <table border="0" cellpadding="0" cellspacing="0" width="600" bgColor="#ffffff" style="overflow:hidden;">
        <tr>
          <td style="padding:20px;font-size:1.6rem;font-weight:600;word-break:keep-all;background-color:#087190;color:#ffffff;box-shadow:0 0 10px rgba(0,0,0,.4)">소셜 로그인 안내</td>
        </tr>
        <tr>
          <td style="padding:40px 20px 0;" align="center">
            <div style="width:80px;height:80px;border-radius:50%;overflow:hidden;border:solid 2px #087190;background-color:#199fc6;">
              <img src="https://blog.eunsatio.io/assets/images/logo.png" alt="로고 캐릭터" style="width:80%;height:80%;padding:20% 20% 0 0;">
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding:40px 20px 0;font-size:1.1rem;font-weight:600;word-break:keep-all;">안녕하세요? {{ user.name }}님.</td>
        </tr>
        <tr>
          <td style="padding:20px;">방금 저희 <a href="https://eunsatio.io" target="_blank">사이트</a>에 {{ providerName }} 계정(<a style="color:#fa8000;" href="mailto:{{ user.email }}">{{ user.email }}</a>)으로 로그인 하신 것을 확인하였습니다.</td>
        </tr>
        <tr>
          <td style="padding:0 20px">만약 로그인하신 적이 없는데 이 메일을 받았다면, {{ providerName }} 계정이 안전한지 확인해주세요.</td>
        </tr>
        <tr>
          <td style="padding:20px">기타 문의사항은 <a style="color:#fa8000;" href="mailto:eunsatio@eunsatio.io">이메일(eunsatio@eunsatio.io)</a>이나 <a style="color:#fa8000;" href="https://github.com/Seemspyo/eunsatio.io/issues">Github 이슈</a>를 통해 알려주시기 바랍니다.</td>
        </tr>
        <tr>
          <td style="padding:20px;padding-bottom:40px;" align="right">감사하고 환영합니다.😊</td>
        </tr>
        <tr>
          <td style="padding:12px 20px;font-size:0.96rem;background-color:#087190;box-shadow:0 0 10px rgba(0,0,0,.4);color:#199fc6;" align="right"><a style="color:#ffffff;" href="https://eunsatio.io">사이트 바로가기</a></td>
        </tr>
        <tr>
          <td style="padding:6px 20px;font-size:0.96rem;background-color:#087190;color:#199fc6;" align="right"><p style="opacity:0.7;">※ 이 메일은 발신 전용입니다</p></td>
        </tr>
      </table>

    </td></tr></table>
  </body>
</html>
